{% extends '@admin/base.html.twig' %}

{% block body %}
    <div class="w3-padding w3-right-align">
        {{ btn.add('admin_post_add') }}
    </div>
    <section class="{{ css_section }}">
        {{ layout.header("Liste des articles") }}
        {% include '@review/post-table.html.twig' with {'posts' : posts } only %}
    </section>
{% endblock %}