{# Formulaire de recherche #}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" title="Rechercher" class="w3-btn w3-purple w3-large"><i class="fa fa-search"></i></button>
{{ form_end(form) }}