{# Formulaire de recherche #}
{{ form_start(form) }}
<div class="grid">
    <div>
        {{ form_widget(form) }}
    </div>
    <div class="one-quarter w3-center">
        <button type="submit" title="Rechercher" class="w3-btn w3-text-purple w3-white"><i class="fa fa-search"></i></button>
    </div>
</div>
{{ form_end(form) }}
